@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src: url('/fonts/FjallaOne-Regular.ttf') format('truetype');
}